.no-margin {
	margin: 0px;
}

hr {
	margin-top: 0px;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.border-right {
	border-right: 1px solid #ddd;
}


.all-caps {
	text-transform: uppercase;
}

#taskPaneRoot {
	margin-top: 38px;

}

.taskTreeRoot {
	margin-bottom: 40px; 
	margin-top: 10px;
}

.task-tree {
  margin-left: 0px;
  margin-right: 0;
  margin-bottom: 0px;
  padding: 0;
  padding-left: 20px;
  /*padding-bottom: 5px;*/
  background-color: #fff;
  overflow: visible
}

    li.taskTreeLi > a.taskName {
      display: block;
      margin-left: 0;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      height: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 32px;
      padding-right: 8px;
      border-top: 0px solid #ddd;
      border-bottom: 0px solid #ddd;
    }

    li.taskTreeLi:first-child > a.taskName {
        /*margin-top: 0px;*/
        /*border-top: 1px solid #ddd;*/
    }

    li.taskTreeLi:last-child > a.taskName {
        /*margin-bottom: 0px;*/
        border-bottom: 0px solid #ddd;
    }

    .taskTreeLi.active > a.taskName {
      position: relative;
      z-index: 2;
      text-shadow: 0 1px 0 rgba(0,0,0,.15);
      -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
         -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
              box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    }

    .taskName.taskCompleted span{
    	/*text-decoration: line-through;*/
    	color: #999;
    	font-style: italic;
    }

    a.taskName:hover {
      background-color: #f5f5f5;
    }

	li.taskTreeLi > .taskChevron {
      display: block;
      padding-top: 6px;
      opacity: 0.5;		
	  margin-left: -20px; 
	  width: 20px; 
	  height: 10px;
	  cursor: pointer;
	}

	.taskCheckbox {
	  display: inline; 
	  margin-top: 8px;
	  margin-left: 10px;
	  padding-left: 0px;
	}

	.taskCheckbox > input {
	  margin-left: 0px!important; 
	  margin-top: 3px;
	}

	.taskCheckbox > input:checked {
	  opacity: 0.5;
	}


	li.taskTreeLi > a > span.taskName {
	  margin-left: 8px;
	}

	.taskControls {
	  display: none;
	  opacity: 0.5;
	  margin-top: -5px; 
	  margin-right: -75px; 
	  padding-top: 6px; 
	  padding-right: 10px; 
	  padding-left:  15px; 
	  height: 24px;
	}

	a:hover > .taskControls {
	  display: block;
	}

	.taskControls i {
		padding-left: 8px;
	}