

<!-- 
<ul class="nav nav-list bs-docs-sidenav task-tree">
  <li class=""
    ng-repeat="task in project.tasks">
    <a href="#" onclick="return false">{{task.title}}</a>
  </li>
</ul>
 -->

<!-- 
<p>{{ family.name }} -- -- --- </p>
<ul>
    <li ng-repeat="child in family.children">
        <tree family="child"></tree>
    </li>
</ul>

 -->

<!-- 
<li class="" 
    style="display: list-item;">
  <a href="#" onclick="return false">
    <label class="checkbox" style="display: inline; padding-left: 10px;">
      <input type="checkbox" style="margin-left:0px; margin-top:2px;">
    </label>

    <div onclick="return false" 
        class="pull-left" 
        style="margin-left: -45px; width: 25px; height: 10px;" 
        title="Expand or collapse subtasks">
        <i class="pull-left icon-chevron-down"></i>
    </div>

    <span onclick="return false" title="2222">2222</span>
  </a>

  <ul class="nav nav-list bs-docs-sidenav task-tree indent collapse in">
    <div ng-include src="taskTreeTemplate"></div>
  </ul>
</li>
  
 -->





