      <div id="mainRow" class="row-fluid">

        <div id="projectListPane" class="span3 border-right">
            <div class="row-fluid">
              <div class="span12 wells well-small">
                <div class="btn-group pull-right">
                  <a id="addNewProjectButton" class="btn btn-mini btn" href="#"><i class="icon-plus zicon-white"></i>
                  New Project</a>
                </div>    
                <ul id="projectListRoot" class="nav nav-pills nav-stacked">
                  <li class="nav-header">Your projects</li>
                  <li ng-repeat="project in projects" 
                      ng-class="project.cssClass"><a href="" ng-click="projectClick(project)">{{project.title}}</a></li>
                </ul>
              </div>
            </div>
        </div>

        <div id="taskListPane" class="span7">
          <!-- Controls --> 
          <div class="row-fluid">
            <div class="span12">
              <div class="btn-toolbar pull-right">
                <div class="btn-group">
                  <a class="btn btn-mini" href="#">Collapse All</a>
                  <a class="btn btn-mini" href="#">Expand All</a>
                </div>    
              </div>
            </div>
          </div>

          <!-- Task groups --> 
          <div class="row-fluid">
            <div id="taskPaneRoot" class="span12">

            <!-- Project -->
              <div class="row-fluid" 
                    ng-repeat="project in projects" 
                    ng-show="project.isSelected" 
                    >

                <!-- Header -->
<!-- 
                <div class="border-bottom">
                </div>
 -->
                  <!-- Title -->
                  <div class="span3">
                    <strong>{{project.title}}</strong>
                  </div>

                  <!-- Controls -->
                  <div class="span9">
                    <div class="btn-toolbar pull-right no-margin">
                      <a class="btn btn-mini zbtn-primary" href="#"><i class="icon-plus zicon-white"></i> New Task</a>
                      <div class="btn-group">';
                        <a class="btn btn-mini" href="#" onclick="return false;" rel="tooltip" title="Hide project">Collapse</a>
                        <a class="btn btn-mini" href="#" onclick="return false;" rel="tooltip" title="Hide project">Hide</a>
                      </div>
                    </div>
                  </div>

                  <!-- Separator -->

<!-- 
                  <div class="span12 border-bottom">
                  </div>
 -->


              </div>
                
            </div>
          </div>

        </div>
      </div>